:root {
	--cell-size: 130px;

	--color: rgb(230, 8, 8); 
	--color-set: #72e080; 
	--l: 20px; 
}


@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


.text {
    font-size: 50px;
    text-align: center;
	font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, red, orange, rgb(33, 215, 16), rgb(144, 28, 162), rgb(232, 232, 45), rgb(201, 74, 169), violet);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
	margin: 0;
	background-color: rgb(215, 246, 240);
}

.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
}


.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 5px double rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}


/* remove border for edges */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: darkblue;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}


.cell.x, .cell.circle {
    cursor: not-allowed;
}

/* for cross */
.board.x .cell:not(.circle):not(.x):hover {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

/* for cross (set) */
.cell:not(.circle).x {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}


/* for circle */
.board.circle .cell:not(.circle):not(.x):hover {	
	background: radial-gradient(var(--color) 60%, transparent 60%);
}

/* for circle (set) */
.cell:not(.x).circle {
	background: radial-gradient(var(--color-set) 60%, transparent 60%);
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-set);
	justify-content: center;
	align-items: center;
	color: rgb(253, 250, 249);
	font-size: 7rem;
	font-family: 'Courier New', Courier, monospace;
	flex-direction: column;
}

.winning-message button {
	border-radius: 10px;
	font-size: 3rem;
	background-color: rgb(251, 9, 9);
	border: 3px solid var(--color-set);
	padding: .25em .5em;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: var(--color-set);
	color: rgb(30, 90, 36);
	border-color: rgb(232, 229, 36);
	border: solid 5px;
}

.winning-message.show {
	display: flex;
}